
<nav class="navbar navbar-light navbar-expand-lg  ">

    <div class="menu-top ">
    </div>
    <div class="container">
        <a  class="navbar-brand text-uppercase font-weight-bold pb-0 pt-2"><img 
                src="assets/lo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto pt-3">
                <!-- <li *ngIf="!isUser" class="nav-item"><a routerLink="/registration" class="  nav-link text-uppercase ">S'inscrire</a></li>
                <li *ngIf="!isUser" class="nav-item"><a  routerLink="/login"  class="nav-link text-uppercase ">Se connecter</a></li>
                <li class="nav-item"><a  class="nav-link text-uppercase ">À propos</a></li>
                <li *ngIf="isUser" class="nav-item"><a (click)="logout()"  class="   nav-link text-uppercase ">Se deconnecter</a></li> -->
                <li  class="nav-item"><a  routerLink=""  class="nav-link text-uppercase ">Home</a></li>
                <li *ngIf="!isUser" class="nav-item"><a  routerLink="/login"  class="nav-link text-uppercase ">Login</a></li>
                <li *ngIf="!isUser"   class="nav-item"><a routerLink="/sign-up" class="  nav-link text-uppercase ">Sign Up</a></li>
                <li *ngIf="isUser" class="nav-item"><a routerLink="/main" class="nav-link text-uppercase ">Create</a></li>

                <li *ngIf="isUser" class="nav-item"><a (click)="logout()"  class="nav-link text-uppercase ">Logout</a></li>

            </ul>
        </div>
    </div>
</nav>
